@import "taillwind.module.css";
@import "theme.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}

html,
body {
  min-height: 100vh;
  color: var(--accent);
  background-color: var(--bg);
  scroll-behavior: smooth;
  transition: all 0.1s ease-in-out;
  font-family: var(--font-en);
  line-height: 1.4;
}

.--sticky-navbar {
  position: fixed;
  top: 2%;
  z-index: 999;
  background-color: var(--bg);
  padding: 1rem;
  left: 50%;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 66px;
  border: var(--stroke-weight-1, 1px) solid rgba(15, 15, 15, 0.1);
  background: rgba(255, 255, 255, 0.73);
  backdrop-filter: blur(5.5px);
  transform: translateX(-50%);
}
.rounded-wrapper {
  border-radius: 16px;
  border: var(--stroke-weight-1, 1px) solid rgba(104, 104, 129, 0.1);
}

.testimonials-card {
  width: 360.867px;
  padding: 24px 32px 32px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
}

.feature-icon {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.05);
  padding: 13px;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 13px;
  justify-content: center;
  align-items: center;
}
.Track-Card {
  display: flex;
  padding: 40px;
  flex-direction: column;
  border-radius: 32px;
  background: #fff;
  justify-content: center;
  align-items: flex-start;
}
.cs-col {
  padding: 36px 20px 36px 16px;
}
.subscribe-card {
  padding: 24px;
  border-radius: 20px;
  background: #f9fafb;
}
.benfits-card {
  border-radius: 16px;
  background: #fff;
  display: flex;
  padding: 24px 16px;
}
.slide-card {
  padding: 32px 40px;
  border-radius: 20px;
  background: #fff;
  backdrop-filter: blur(40px);
}
.discovered-card {
  border-radius: 32px;
  background: #56756c;
}
.base-input {
  border-radius: 200px;
  border: 1px solid #c6c6c6;
  background: #fff;
}
.switch {
  position: relative;
  margin: 30px auto;
  height: 37px;
  width: 220px;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch input {
  display: none;
}
.switch label {
  position: relative;
  font-size: 14px;
  width: 50%;
  height: 37px;
  line-height: 37px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  color: #999ea1;
  font-weight: bold;
}
.switch .label-monthly.active,
.switch .label-yearly.active {
  color: #fff;
}
.selection {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 50%;
  background: #56756c;
  color: #fff;
  height: 37px;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1;
  transition: 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a {
  color: #4b4b57;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #56756c;
  transition: width 0.3s ease-in-out;
}

.nav-links a.active {
  color: #56756c;
  font-weight: bold;
}
.nav-links a:hover::before {
  width: 100%;
}
.nav-links a.active::before {
  width: 100%;
}
.switch input[type="checkbox"]:checked + .selection {
  left: 50%;
}
.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  background: white;
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease,
    border-radius 0.8s 0.1s ease;
  border-bottom-left-radius: 100vw;
}
@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 2em;
}
.drawer-list li a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(24px - 0.5vw);
}
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: 0.5rem;
  }
}
input.hamburger {
  display: none;
}
input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
input.hamburger:checked ~ label close {
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: rgba(0, 0, 0, 0);
  width: 0;
}
label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: 0.8em;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width 0.25s 0.35s, color 0.45s 0.35s;
}
label.hamburger text close {
  color: rgba(0, 0, 0, 0);
  right: 0;
  width: 0;
}
label.hamburger text open {
  width: 100%;
}
label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  pointer-events: auto;
  transition-duration: 0.35s;
  transition-delay: 0.35s;
  background: #56756c;
}
label.hamburger > i:before,
label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 58%;
  height: 2px;
  left: 50%;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
  background: #56756c;
}
label.hamburger > i:before {
  transform: translate(-50%, -13px);
}
label.hamburger > i:after {
  transform: translate(-50%, 14px);
}
label.hamburger {
  position: fixed;
  top: 15px;
  right: 34px;
}
.mega-menu {
  display: none;
}

@media (min-width: 320px) {
}
@media (min-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 801px) {
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
@media (max-width: 1291px) {
  .nav-links,
  .--actions {
    display: none;
  }
  .mega-menu {
    display: block;
  }
  .--sticky-navbar {
    width: 100%;
    top: 0;
    border-radius: 0;
  }
  .feature-description {
    width: 15em !important;
  }
}
